<%= link_to("Back to List", books_path, class: 'back-link') %>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="book edit">
  <h2>Edit Book</h2>

  <%= form_for(@book) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Edit Book") %>
    </div>

  <% end %>
</div>
