<%= link_to("Back to List", books_path, class: 'back-link') %>

<% if flash[:notice] %>
  <div class="notice" style="color: green; font-weight: bold;">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert" style="color: red; font-weight: bold;">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="books new">
  <h1>New book</h1>

  <%= form_for(@book) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Book") %>
    </div>
  <% end %>
</div>
